@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.disappear-animation {
  animation: fadeOutUp 0.5s ease-out forwards;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #5e8ad1;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Customizing the Toast Body */
.Toastify__toast {
  border-radius: 12px;
  padding: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
}

/* Customizing specific types for a "Glass" look */
.Toastify__toast--success {
  background: rgba(34, 197, 94, 0.9) !important;
}

.Toastify__toast--error {
  background: rgba(239, 68, 68, 0.9) !important;
}

.Toastify__toast--info {
  background: rgba(59, 130, 246, 0.9) !important;
}

/* Designing the Progress Bar */
.Toastify__progress-bar {
  height: 4px;
  border-bottom-left-radius: 12px;
}

/* Icon size and alignment */
.Toastify__toast-icon {
  width: 24px;
}
